@import "src/styles/variables";
@import "~bulma/sass/utilities/mixins";

.image {
  $self: &;

  border: 4px dashed;
  padding: 5px;

  &.blue {
      border-color: $blue;
  }

  &.yellow {
    border-color: $yellow;
  }

  &.green {
    border-color: $green;
  }
}

.columns-reverse {
  display: flex;
  flex-direction: column-reverse;

  @include desktop() {
    flex-direction: row;
  }
}

.columns {
  display: flex;
  flex-direction: column;

  @include desktop() {
    flex-direction: row;
  }
}

.image-wrap {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 1rem;

  @include desktop() {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.header {
  margin-bottom: 0;
}

.footer {
  margin-top: 0;
}
