@import "src/styles/variables";
@import "~bulma/sass/utilities/mixins";

.bottom-footer {
  background-color: #0050A7;
  color: $white;
  padding: .7rem 0;

  .separated {
    &:after {
      content: "|";
      padding: 0 10px;
    }
  }
}

.top-footer {
  overflow: hidden;
  position: relative;
  background-color: $mainAccent;
  color: $white;

  .left-bg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .right-bg {
    background-image: url("./map.png");
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    height: 500px;
    cursor: pointer;
    z-index: 1;
    transition: opacity .5s ease-in-out;

    &:hover {
      opacity: .8;
      transition: opacity .5s ease-in-out;
    }
  }

  @include desktop() {
    .right-bg {
      position: absolute;
      width: 50%;
      height: 100%;
      right: 0;
    }
  }

  .contact {
    color: inherit;
  }

  .logo-image {
    width: 23rem;
  }

  .contact, .logo-image {
    margin-left: -3.8rem;
  }

  .contacts-list {
    &--item {
      padding: 1rem 0;
      position: relative;

      > span {
        padding-top: 4px;

        a, a:hover, a:visited {
          color: $lightBlue;
        }
      }
    }
  }
}
