@import "~bulma/sass/utilities/mixins.sass";

.navigation {
  font-family: 'Ubuntu', sans-serif;
}

img.logo {
  max-height: 3rem;
}

@include touch() {
  .dropdown {
    display: none;

    &-expanded {
      display: block;
    }
  }
}
