@import "variables";

@import "~bulma";
@import "~bulma/sass/utilities/mixins";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Patrick+Hand&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: .875rem;

  @include tablet() {
    font-size: 1.125rem;
  }
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: $mainAccent;
  line-height: 1.2;

  @include tablet() {
    font-size: 3.125rem;
  }
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: $mainAccent;

  @include tablet() {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2.5rem;
  color: $primary;
}

h4 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.875rem;
  color: $primary;
}

p {
  margin-bottom: 1rem;
}

figure.image {
  figcaption {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: .3rem;
  }
}

[role=button], [role=link] {
  cursor: pointer;
}

@each $name, $pair in $my-custom-colors {
  $color: nth($pair, 1);
  $darkColor: nth($pair, 2);

  .my-custom-background-#{$name} {
    background-color: $color;
  }

  .my-custom-background-#{$name}-darken {
    background-color: $darkColor;
  }

  .my-custom-color-#{$name} {
    color: $color;
  }

  .my-custom-color-#{$name}-darken {
    color: $darkColor;
  }
}

a.plain {
  color: inherit;
}

@include touch() {
  p {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  figure.image {
    figcaption {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
}

.header {
  margin-top: 50px;
  text-align: center;

  &--subtitle {
    display: block;
    font-size: 1.25rem;
    margin: 40px auto 40px auto;
  }
}

.dark-background {
  background-color: $darkBg;
}

ul.round {
  margin-left: 15px;

  li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: .5rem;
      width: 10px;
      height: 10px;
      background-color: $bullets;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }
}

@include desktop() {
  figure.fancy-image {
    &:before {
      content: "";
      position: absolute;
      top: 4.7%;
      left: -4.7%;
      height: 100%;
      width: 100%;
      display: block;
      transform: rotate(358deg);
    }

    &.fancy-reverse {
      &:before {
        left: 4.7%;
        transform: rotate(2deg);
      }
    }

    &.blue {
      &:before {
        background-color: $blue-darken;
      }
    }

    &.yellow {
      &:before {
        background-color: $yellow-darken;
      }
    }

    &.green {
      &:before {
        background-color: $green-darken;
      }
    }

    &.red {
      &:before {
        background-color: $red-darken;
      }
    }
  }
}

.grecaptcha-badge {
  z-index: 2;
}

.button {
  &.is-main {
    background-color: $lightBlue;
    border-color: $lightBlue;
    color: $white;

    &:hover {
      background-color: $blue-darken;
      border-color: $blue-darken;
    }

    &.is-outlined {
      background-color: transparent;
      border-color: $lightBlue;
      color: $lightBlue;

      &:hover {
        background-color: $lightBlue;
        border-color: $lightBlue;
        color: $white;
      }
    }
  }
}
