@import "~bulma/sass/utilities/mixins";

$card-height: 650px;
$dark-bg-height: 18px;

.featured-card {
  color: white;
}

.outer-card, .inner-card {
  overflow: hidden;
}

.inner-card {
  display: flex;
  padding: 20px;
}

.figure {
  flex-shrink: 0;
}

.image {
  border: 2px dashed white;
  padding: 5px;
}

.wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 1.125rem;
}

@include desktop() {
  .figure {
    margin-bottom: 40px;
  }

  .wrapper {
    padding: 0;
  }

  .title {
    font-size: 1.3rem;
  }

  .outer-card {
    height: $card-height;
  }

  .inner-card {
    flex-direction: column;
    height: $card-height - $dark-bg-height;
    padding: 40px;
  }

  .outer-card, .inner-card {
    border-radius: 20px;
  }
}

@include touch() {
  .figure {
    width: 30vw;
  }
}

@include fullhd() {
  .title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin-bottom: 40px;
  }
}
