@import "~bulma/sass/utilities/mixins";

$card-height: 612px;
$dark-bg-height: 18px;

.featured-card {
  color: white;
}

.outer-card, .inner-card {
  border-radius: 20px;
  overflow: hidden;
}

.outer-card {
  height: $card-height;
}

.inner-card {
  height: $card-height - $dark-bg-height;
  padding: 40px;
}

.figure {
  margin-bottom: 40px;
}

.image {
  border: 2px dashed white;
  padding: 5px;
}

.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.text {
  font-size: 1.125rem;
}

@include desktop() {
  .title {
    font-size: 1.3rem;
  }
}

//@include widescreen() {
//  .title {
//  }
//}

@include fullhd() {
  .title {
    font-size: 2rem;
    line-height: 2.1875rem;
    margin-bottom: 40px;
  }
}
