@import "src/styles/variables";

.hero {
  background-image: url("./hero_desktop.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.groups-section {
  height: 1000px;
  position: relative;

  .left-bg {
    background-color: $mainAccent;
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
  }

  .right-bg {
    background-image: url("./teacher.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
  }

  h2 {
    color: white;
  }
}
