@import "src/styles/variables";

.card {
  height: 100%;
}

.datestamp {
  background-color: #FFC61D;
  position: absolute;
  top: 10px;
  left: 15px;
  border-radius: 20px;
  padding: 6px 10px;
  font-size: 16px;
  color: $black-ter;
}

.border-effect {
  background-color: transparent;
  height: 0;
  margin: 0;
  border-bottom: 1px dashed $white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
}

.title {
  color: $mainAccent;
}

.link {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}
