@import "~bulma/sass/utilities/mixins";

.subtitle {
  display: block;
  font-size: 1.25rem;
  margin: 40px auto 60px auto;

  @include desktop() {
    max-width: 80%;
  }
}

.header {
  margin-top: 100px;
}
